<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933558103656-jomneah1ovb8ene3vg5p1jv85v8up9g0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933558103656-jomneah1ovb8ene3vg5p1jv85v8up9g0</string>
	<key>API_KEY</key>
	<string>AIzaSyC75YGNtp-93-ZHS1JoT-FcMEwbW-MLUCU</string>
	<key>GCM_SENDER_ID</key>
	<string>933558103656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uhighstem.closet</string>
	<key>PROJECT_ID</key>
	<string>closet-c3179</string>
	<key>STORAGE_BUCKET</key>
	<string>closet-c3179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933558103656:ios:0329d4fe5273a3211015dd</string>
	<key>DATABASE_URL</key>
	<string>https://closet-c3179.firebaseio.com</string>
</dict>
</plist>